name: Java CI Maven
on: 
  push:
    branches: 
      - master
      - develop
  pull_request:
    branches: 
      - master
jobs:
  # Compile
  compile:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04]
        java: [11]
    name: Java ${{ matrix.java }} compile
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          java-package: jdk
      - name: Build with Maven 
        run: mvn -f pom.xml clean compile
  
  # Build        
  build:
    runs-on: ubuntu-latest
    needs: compile
    name: Build Java Maven Project
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build and Test
      run: mvn -f pom.xml clean verify
    - name: Upload Maven Build Artifact
      uses: actions/upload-artifact@v1
      with:
        name: artifact
        path: maven.jar
